{% extends 'layout.html' %}

{% block content %}
<h2>Login Form</h2>
<form method="post">
    {% csrf_token %}
    
    <!-- Input fields for login -->
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" name="username" class="form-control" id="username" required>
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" required>
    </div>
    
    <button class="btn btn-primary">Login</button>
</form>
<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
{% endblock %}
